:root {
    --fc-border-color: lightgray;
    --fc-page-bg-color: none;
}

.dark {
    --fc-border-color: gray;
}


/* Removing borders */

.fc-scrollgrid {
    @apply border-none !important;
}

.fc tbody tr:last-child td:first-child {
    @apply border-l-0 !important;
}

.fc tbody tr:last-child td:last-child {
    @apply border-r-0 border-b-0 !important;
}

.fc-theme-standard th {
    @apply border-r-0 !important;
}

/* disabled link more popover */
.fc-more-popover {
    visibility: hidden;
}


/* Setting header size */
.fc-col-header-cell-cushion {
    @apply flex h-14 items-center;
    @apply leading-[3rem];
}

/* Setting cell colors */

td.fc-daygrid-day.fc-day {
    @apply hover:bg-secondary !important;
}

td.fc-daygrid-day.fc-day.fc-day-today {
    @apply bg-secondary-foreground;
}

.fc-day-today {
    @apply bg-inherit !important;
}

.fc-day-other {
    @apply bg-gray-200 dark:bg-secondary !important;
}

.fc-daygrid-day-top {
    @apply flex flex-row h-8 w-full items-center !important;
}

.fc-daygrid-dot-event {
    @apply hover:bg-blue-50 !important;
}

.fc-daygrid-event-harness {
    @apply pr-2 hover:bg-none hover:scale-[1.02] transition-all hover:cursor-pointer !important;
}

.fc-timegrid-event-harness {
    @apply hover:bg-none hover:cursor-pointer !important;
}

.fc-event-main {
    @apply flex w-full h-full !important;
}

.fc-event {
    @apply flex border-none min-w-full !important;
}

.fc-daygrid-event {
    @apply mx-1 !important;
}

.fc-timegrid-event {
    @apply px-1 !important;
}

.fc-daygrid-day-top {
    justify-content: center;
}

.is-today {
    background-color: var(--color-dark-blue);
    color: white;
}